%section
  #header
    %h1#header__name
      %span Till Breuer
    %h2#header__profession Mathematician. Data Scientist. Software Developer.
  #contact
    %table
      %tr.mail
        %td
          %i.fa.fa-envelope
        %td
          = link_to 'breuertill@gmail.com', 'mailto:breuertill@gmail.com'
      %tr.phone
        %td
          %i.fa.fa-mobile
        %td
          +49 175 3344334

%section#abstract
  %p
    <em>Data Scientist</em> with a math diploma from University of Münster and a background in <em>machine learning</em>, <em>software development</em> and <em>statistical modelling</em>.

%section#education
  %h3
    %span
      %i.fa.fa-book
      Education

  %table
    %tr
      %td.period 10/2004 - 06/2010
      %td.school
        University of Münster
        %aside.school-details
          Diploma in Mathematics / Probability Theory &#8709; 1.2
          %br
          Thesis (1.3):
          = link_to '&raquo;Zur Rekurrenz von Random Walks&laquo;', 'thesis.pdf', relative: true
    %tr
      %td.period 10/2001 - 10/2004
      %td.school
        Berufsakademie Mannheim
        %aside.school-details
          Diploma in Information Technology (BA) &#8709; 1.5
          %br
          Thesis (1.4):
          &raquo;Entwurf einer Architektur zur Publikation von Unternehmensverzeichnissen im Intranet&laquo;
    %tr
      %td.period 1991 - 2000
      %td.shool
        Gymnasium Am Geroweiher, Mönchengladbach
        %aside.school-details Abitur &#8709; 1.4

%section#experience
  %h3
    %span
      %i.fa.fa-clock-o
      Experience

  %table
    %tr
      %td.company
        Freelance
        %small.company-details Self-employed
        %aside.period 8/2019 - present
      %td.employment
        Data Scientist
        %aside.employment-details
          %h4 Projects
          As a freelancer I have been mainly been working on algorithmic challenges in computer vision and natural language processing. My responsibilities comprised concepts, R&D and implementation as well as project coordination tasks.
          Projects I worked on included:
          %ul
            %li Swipe-based recommendation app based on content-based image retrieval and a bandit algorithm
            %li Giving workshops and teaching concepts of deep learning for computer vision
            %li Text-based categorisation of marketing texts
            %li Text-based matchmaking
            %li Hybrid image semantic segmentation and pose detection in street scenes
            %li Implementation of a literature management system with ELK-stack integration
            %li NLP- and recommendation-based matchmaking
            %li Evaluation of deep learning-models designed for autonomous driving
            %li Design and implementation of a recommendation micro-service for personalisation of a news-site
            %li Time series forecasts for demand prediction in logistics

          %h4 Technology stack
          %ul
            %li Python
            %li scikit-learn
            %li PyTorch
            %li matplotlib, altair
            %li Keras + Tensorflow
            %li Elasticsearch
            %li Postgres
            %li GCloud- and AWS-services
            %li JavaScript, AngularJS

    %tr
      %td.company
        mediaire GmbH
        %small.company-details AI-software for radiologists
        %aside.period 2/2020 - 10/2021
      %td.employment
        Senior Data Scientist
        %aside.employment-details
          At mediaire I was responsible for benchmarking and adapting segmentation and classification models for MRI images as well as for integrating them into the software.
          %h4 Responsibilities & Achievements
          %ul
            %li Developing prototypes for segmenting and classifying MRI-images
            %li Evaluating and benchmarking state-of-the-art solutions for medical image analysis
            %li Development and improvement of Deep Learning-models

    %tr
      %td.company
        Twenty Billion Neurons GmbH
        %small.company-details Realtime video understanding
        %aside.period 6/2017 - 8/2019
      %td.employment
        A.I. Engineer / Senior A.I. Engineer
        %aside.employment-details
          At Twenty Billion Neurons I worked as a research and development engineer, creating artificial neural networks which detect activities in videos. I participated in developing solutions for spatial and temporal activity detection using deep neural networks and applied the technology in a series of customer projects.
          %h4 Responsibilities & Achievements
          %ul
            %li Developing solutions for spatial detection performed in real-time on videos
            %li Developing solutions for accurate temporal predictions and prediction of trigger points in videos
            %li Realization of customer projects
            %li Mentoring tasks

    %tr
      %td.company
        The unbelievable Machine Company GmbH
        %small.company-details Cloud Service Provider and Full Service Provider for Data Solutions
        %aside.period 11/2014 - 6/2017
      %td.employment
        Data Scientist
        %aside.employment-details
          At the unbelievable Machine Company I worked on a variety of Data Science projects. These include industry projects as well as e-commerce and media-related projects. Among others I worked on
          %ul
            %li Computer Vision: Image recognition using neural networks
            %li Recommendation: Collaborative filtering, content-based recommendations, statistical and bandit approaches
            %li Predictive maintenance: Predicting malfunction of manufacturing components and classifying errors
            %li Performance prediction: Predicting distribution of user participation among different channels
            %li Prediction of energy consumption
            %li Various clustering / segmentation tasks
          %h4 Responsibilities & Achievements
          %ul
            %li Leading role in most projects
            %li Customer communication
            %li Contributing to the improvement of internal processes
            %li Introducing best practices for coding
            %li Speaker at several conferences including the bitkom Big Data Summit

    %tr
      %td.company
        bitcrowd GmbH
        %small.company-details Web Development Consultancy
        %aside.period 8/2014 - 10/2014
      %td.employment
        Freelance Software Developer
        %aside.employment-details
          After Krautreporter was crowdfunded I helped developing the platform as leading backend and Javascript engineer. I was responsible for the technical concepts of the platform as well as for implementing the Rails backend, the AngularJS components and making the components work together. The platform had a tight deadline and launched on time.
          %h4 Responsibilities & Achievements
          %ul
            %li Backend and client-side development
            %li Choices of technology (web content editor for publishing articles)
            %li Technical concepts
    %tr
      %td.company
        finn GmbH / openproject
        %small.company-details Software Development Consultancy
        %aside.period 10/2013 - 8/2014
      %td.employment
        Software Developer
        %aside.employment-details
          Finnlabs is a Berlin-based company centered around their product, an open source project collaboration software called OpenProject. I joined the company as a senior software developer.
          %h4 Responsibilities & Achievements
          %ul
            %li Backend development (Ruby on Rails)
            %li Working in an international team
            %li Requirements engineering and sprint planning
            %li Team coordination and leading the Javascript / AngularJS development
    %tr
      %td.company
        Zweitag GmbH
        %small.company-details Ruby on Rails Consultancy
        %aside.period 6/2010 - 10/2013
      %td.employment
        Software Developer
        %aside.employment-details
          As a software engineer I worked on a variety of projects, for example <em>so-schmeckts.de</em> or <em>compeon.de</em>.
          Technologies we worked with involved <em>Rails</em> as server-side technology as well as <em>JavaScript</em> and related frameworks like <em>AngularJS</em> on the client-side. Zweitag applies behaviour driven development using <em>Rspec</em>, <em>Capybara</em> and <em>Jasmine</em>. Data visualization were done with <em>D3.js</em> among others.
          %h4 Responsibilities & Achievements
          %ul
            %li Backend and client-side development
            %li Technical concepts
            %li Customer communication
            %li Project coordination

    %tr
      %td.company
        Institute of Mathematical Statistics
        %small.company-details of the University of Münster
        %aside.period 8/2010 - 10/2011
      %td.employment
        Research assistant
        %aside.employment-details
          As a research assistant at the institute for probability theory at the University of Münster I was mentor for seminars in probability theory and statistical modelling.Besides I lead the internship for applied statistics with R. I did research in the field of renewal theory exploring structural inheritance properties of Markov renewal processes. Meanwhile I worked as a software developer at Zweitag GmbH (see above).

    %tr
      %td.company
        Fairix
        %small.company-details Startup
        %aside.period 10/2008 - 3/2010
      %td.employment
        Software developer, CTO
        %aside.employment-details
          Fairix is a startup I took part in as a software engineer while I was a student of mathematics. Fairix provided a platform to producers and merchants enabling them to offer products with additional ecological or social value, e.g. fair trade products. In an engineering team of two we developed a marketplace platform with Ruby on Rails. For that purpose I learnt Rails from scratch and I was leading the development in the later course of the project when the platform launched. The startup finally ran out of funds after two years.

    %tr
      %td.company
        Bundesamt für Sicherheit in der Informationstechnik
        %small.company-details (BSI)
        %aside.period 8/2007 - 9/2007
      %td.employment
        Research engineer (Pattern recognition)
        %aside.employment-details
          At my internship at the BSI I worked on research topics about malware classification. The internship lasted two months and together with my mentor I implemented a pattern recognition and a clustering approach to identify and distinguish malware by the kinds of exploits it used. The software had to be extremely performant and of linear complexity and was written in C.

    %tr
      %td.company
        Institute of Mathematical Statistics
        %small.company-details of the University of Münster
        %aside.period 10/2006 - 3/2008
      %td.employment
        Tutor in linear algebra / functional analysis
        %aside.employment-details Tutorials and correction of student homework.

%section#interests
  %h3
    %span
      %i.fa.fa-flask
      Interests

  %ul
    %li Music (listening and playing instruments)
    %li Reading
    %li Mathematics, Physics, Computer Science, Biology
    %li Studying
    %li Sports
    %li Code design


%section#references
  %h3
    %span
      %i.fa.fa-comments
      References

  %dl
    %dt Klaas Bollhöfer, former Lead Data Scientist at the unbelievable Machine Company GmbH (#{link_to 'http://www.unbelievable-machine.com', 'http://www.unbelievable-machine.com'})
    %dd was my boss at the unbelievable Machine Company in Berlin.
  %dl
    %dt Christoph Beck, Founder at bitcrowd GmbH (#{link_to 'http://bitcrowd.net/#team', 'http://bitcrowd.net/#team'})
    %dd was my boss during the development of Krautreporter.
  %dl
    %dt
      Prof. Dr. Gerold Alsmeier (#{link_to 'http://wwwmath.uni-muenster.de/statistik/alsmeyer/', 'http://wwwmath.uni-muenster.de/statistik/alsmeyer/'})
    %dd supervised my diploma thesis at University of Münster.

%section#footer
  The CV layout was created by #{link_to 'Daniel Kirsch', 'https://github.com/kirel'} using #{link_to 'Middleman', 'http://middlemanapp.com/'}, #{link_to 'Bourbon NEAT', 'http://neat.bourbon.io/'} and #{link_to 'Font Awesome', 'http://fortawesome.github.io/Font-Awesome/'}. It is hosted on
  %i.fa.fa-github
  pages. The color scheme is derived from #{link_to 'solarized', 'http://ethanschoonover.com/solarized'}.
  %br
  Download the #{link_to 'PDF', "lebenslauf_till_breuer.pdf", relative: true}.
